$container-large-desktop: 970px
@import 'bootstrap-custom'

$border-color: #d1d5da
$border-radius: 4px

$passed-color: #d0f7ba
$failed-color: #ffdac9

$small-spinner-size: 28px
$big-spinner-size: 120px
