$container-large-desktop: 750px
@import 'bootstrap-custom'
@import '~font-awesome/css/font-awesome.css'
$border-color: #d1d5da
$border-radius: 4px

$small-spinner-size: 28px

%list-item
  i
    margin-right: 5px

.app
  @extend .container
  padding-top: 50px
  font-family: helvetica, arial, sans-serif

.login
  text-align: center
  a
    text-decoration: none

.levelup-btn
  padding: 0 10px
  font-size: 20px

.file-list
  margin: 0

.file
  @extend %list-item

.folder
  @extend %list-item
  a:hover
    i:before
      content: '\f115'

.spinner
  display: inline-block
  background-image: url("../images/spinner.gif")
  background-size: cover
  vertical-align: bottom
  float: right
  &_small
    width: $small-spinner-size
    height: $small-spinner-size